// font face
$light: 'proxima_novalight';
$medium: 'proxima_novamedium';
$bold: 'proxima_novabold';
$extrabold: 'proxima_novaextrabold';
$black: 'proxima_novablack';
// end font face

// colors
$white: rgba(255, 255, 255, 1.0);
$blue: rgba(73, 162, 255, 1.0);
$lightblue: rgba(171, 225, 255, 1.0);
$darkgrey: rgba(67, 78, 102, 1.0);
$darkgrey-alpha: rgba(67, 78, 102, 0.8);
// end colors

// grid
$tablet: 'min-width: 768px';
$desktop: 'min-width: 992px';
$largeDesktop: 'min-width: 1440px';
// end grid
